.users{
    padding: 20px;
}

/* .users div{ */
    /* border: 1px dashed silver; */
/* } */

.users .user{
   margin-bottom: 15px;
   padding-bottom: 10px;
   border-bottom: 1px dashed rgb(234, 219, 110);
}

.users .user .user_sidebar {
    display: inline-block;
}

.users .user .user_sidebar img{
    width: 60px;
    margin-top: 5px;
}

.users .user .user_content {
    width: 780px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.users .user .user_content .user_fullname {
    font-size: 20px;
    font-weight: 600;
}
.users .user .user_content .user_status {
    font-style: italic;
    color: dimgray;
}
.users .user .user_location{
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
}
.users .user .user_location div{
    display: inline-block;
    margin-right: 5px;
}

.users .user .user_sidebar_right{
    display: inline-block;
    vertical-align: top;
}
.users .user .user_sidebar_right button{
    width: 90px;
}

.pages_select{
    text-align: center;
    padding: 5px;
}
.pages_select div{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}
.pages_select div:hover{
    background:rgb(250, 238, 168);
}
.pages_select .selected_page{
    font-weight: bold;
    background: gold;
}
.pages_select .selected_page:hover{
    background: rgb(255, 223, 40);
}