.item{
  display: block;
  position: relative;  
}
.item a{
  text-decoration: none;
  color:rgba(44, 43, 43, 0.864);
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  top: 5px;
}
.item>img{
  width: 100px;
  display: inline-block;
}
.message{
  margin: 30px 0;
  color:rgb(119, 119, 119);
  display: inline-block;
  width: 900px;
}