.app-wrapper {
  display: grid;

  grid-template-areas: 
    "h h" 
    "n c";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 0 auto;
  /* grid-gap: 10px; */
}
.header{
  grid-area: h;
}
.nav{
  grid-area: n;
}
.content{
  grid-area: c;
}


div{
  border: 1px dashed rgba(0, 0, 0, 0.087);
  border-collapse: collapse;
}

.app-wrapper-content{
  color:rgba(38, 42, 6, 0.94);
}
.app-wrapper-content h2{
  padding-left: 20px;
}
